.footer-link-kwanza {
    text-decoration: underline;
}

.margin-left-30 {
    margin-left: 30px;
}

.btn-invert-slider {
    background: transparent !important;
    border-color: #bdd62e !important;
    color: white !important;
}

.btn-invert-slider:hover {
    background-color: #bdd62e !important;
    color: white !important;
    border-color: #bdd62e !important;
}

.btn-kwanza-green {
    background-color: #bdd62e !important;
    border-color: #bdd62e !important; 
}

.btn-kwanza-green:hover {
    background: transparent !important;
    border-color: #bdd62e !important; 
    color: white !important; 
}

.btn-topbar {
    padding: 0px 8px!important;
}

.btn-topbar:hover {
    background-color: white !important;
    color: #bdd62e !important;
}

.link-topbar {
    padding: 0px 8px!important;
}

.active-kwanza-page {
    color: #bdd62e !important;
}

footer {
    border-top: 6px solid #BED62F;
}