/* components import */
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/btn.css';
@import 'components/filter.css';
@import 'components/card-kwanza.css';
@import 'components/breadcrumb.css';
@import 'components/titles.css';
@import 'components/player.css';

/* pages import */
@import 'pages/homepage.css';
@import 'pages/catalog.css';
@import 'pages/program.css';
@import 'pages/account-favorites.css';

/* misc */
body {
    background-color: #f7f7f7;
}
.margin-left-30 {
    margin-left: 30px;
}

.hover-option6 .grid-item .portfolio-icon i.fa-play-circle {font-size:20px; position: relative; top: 11px; left: 2px;}
.hover-option6 .grid-item .portfolio-icon i.fa-play {font-size:20px; position: relative; top: 11px; left: 2px;}
.hover-option6 .grid-item .portfolio-icon i.fa-video {font-size:20px; position: relative; top: 11px; left: 2px;}

.max-height-150 {
    max-height: 150px;
}