/* components import */
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/btn.css';
@import 'components/filter.css';
@import 'components/card-kwanza.css';

/* pages import */
@import 'pages/homepage.css';
@import 'pages/catalog.css';

/* misc */

.margin-left-30 {
    margin-left: 30px;
}

.hover-option6 .grid-item .portfolio-icon i.fa-play-circle {font-size:20px; position: relative; top: 11px; left: 2px;}
.hover-option6 .grid-item .portfolio-icon i.fa-play {font-size:20px; position: relative; top: 11px; left: 2px;}
.hover-option6 .grid-item .portfolio-icon i.fa-video {font-size:20px; position: relative; top: 11px; left: 2px;}