.btn-invert-kwanza {
    background-color: white !important; 
    border-color: #bdd62e !important;
    color: #bdd62e !important;
}

.btn-invert-kwanza:hover {
    background-color: #bdd62e !important;
    color: white !important;
    border-color: #bdd62e !important;
}

.btn-kwanza-green {
    background-color: #bdd62e !important;
    border-color: #bdd62e !important; 
}

.btn-kwanza-green:hover {
    background-color: white !important; 
    border-color: #bdd62e !important; 
    color:#bdd62e !important; 
}

.btn-topbar {
    padding: 0px 18px!important;
}

.btn-rounded-kwanza {
    border-radius: 7px;
}

.btn-full-width {
    width: 100%;
}

.login-btn {
    border-left: 1px solid rgba(250,250,250);
    padding-left: 15px;
    margin-left: 15px;
}