.btn-invert-kwanza {
    background-color: white !important;
    border-color: #bdd62e !important;
    color: #bdd62e !important;
}

.btn-invert-kwanza:hover {
    background-color: #bdd62e !important;
    color: white !important;
    border-color: #bdd62e !important;
}

.btn-kwanza-green {
    background-color: #bdd62e !important;
    border-color: #bdd62e !important;
}

.btn-kwanza-green:hover {
    background-color: white !important;
    border-color: #bdd62e !important;
    color:#bdd62e !important;
}

.btn-kwanza-red {
    background-color: #a94442 !important;
    border-color: #a94442 !important;
    color: white
}

.btn-kwanza-red:hover {
    background-color: white !important;
    border-color: #a94442 !important;
    color:#a94442 !important;
}

.btn-topbar {
    padding: 0px 18px!important;
}

.btn-rounded-kwanza {
    border-radius: 7px;
}

.btn-full-width {
    width: 100%;
}

.red-text-link-on-hover:hover {
    color: #a94442
}

.green-text-link:hover {
    color: #bdd62e;
    text-decoration: underline;
}

.btn-spacing-10 {
  margin-left: 10px;
  margin-right: 10px;
}
