.accordion-style1.panel-group .panel-heading+.panel-collapse>.list-group, .accordion-style1.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding: 15px 0;
}

.accordion-style1 .panel-heading i {
    font-size: 16px;
    color: black;
    font-weight: 800;
}

.select-style {
    border: 0px solid #d1d1d1 !important;
}