footer {
    border-top: 6px solid #BED62F;
    margin-top: 100px;
}

.footer-link-kwanza {
    text-decoration: underline;
}

.border-top-footer {
    border-top: 6px solid #BED62F;
}

.bg-dark-footer{background-color:#1c1c1c;}

