.link-topbar {
    padding: 0px 8px!important;
    color: white;
}

.active-kwanza-page {
    color: #bdd62e !important;
}

header nav .navbar-nav.text-normal > li > a {
    font-size: 14px;
}

header a.logo img {
    max-height: 39px !important;
}

.btn-topbar:hover {
    background-color: white !important;
    color: #bdd62e !important;
}

.header-with-topbar .navbar-top {
    top: 34px;
}

header .top-header-area {
    height: 35px;
    padding-right: 25px;
}

.searchbar-kwanza {
    height: 100px;
    margin-top: 106px;
}

.search-form .search-input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    font-size: 22px;
    font-weight: 100;
    padding: 20px 38px 20px 2px;
    text-transform: capitalize;
    background: transparent;
    line-height: 40px;
    color: #fff;
}

@media (max-width: 991px) {
    header .top-header-area {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    header .top-header-area {
        padding-right: 0;
    }
}