.link-topbar {
    padding: 0px 8px!important;
    color: white;
}

.active-kwanza-page {
    color: #bdd62e !important;
}

header nav .navbar-nav.text-normal > li > a {
    font-size: 14px;
}

header a.logo img {
    max-height: 39px !important;
}

.btn-topbar:hover {
    background-color: white !important;
    color: #bdd62e !important;
}

.header-with-topbar .navbar-top {
    top: 34px;
}

header .top-header-area {
    height: 35px;
    padding-right: 25px;
}

@media (max-width: 991px) {
    header .top-header-area {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    header .top-header-area {
        padding-right: 0;
    }
}