/* Breaking points are 1500px, 1400px, 1300px, 1250px, 1199px, 1150px, 1050px, 991px, 767px, 640px, */

@media (max-width: 1500px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 767px) {
 .slider-text-middle-main h1 {
  font-size: 30px;
 }
 .slider-text-middle-main h1 {
  margin-top: 80px;
 }
 .slider-small-text-mobile {
    font-size: 11px;
    line-height: 17px;
  }
  .mobile-hide {
    display: none;
  }
}

@media (max-width: 1250px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 1050px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 640px) {

}

